pandas
numpy
python-dotenv
streamlit==1.38.0
langchain==0.3.0
langchain-community==0.3.0
langchain-chroma==0.1.4
langchain-groq==0.2.0
langchain-google-genai==2.0.0
huggingface_hub==0.24.7
pypdf==4.3.1
pymupdf==1.24.10
chromadb==0.5.3
langchain-huggingface==0.1.0
docarray==0.40.0